{%extends 'base.html'%}
{%load static%}

{%block title_name%}
    Зоомагазин "Хвосты и лапы" - о нас
{%endblock%}

{%block content%}
<div class="aboutus-small-container">
    <div class="index-bigtext">с уважением к вам и вашим питомцам</div>
    <span class="index-smallertext">
        <p>Мы работаем уже более 30 лет, пытаясь обеспечить бесперебойно хорошее качество продуктов для животных.</p>
        <p>Нашей целью является предоставление лучших продуктов за нормальные цены.</p>
    </span>
</div>

<div class="aboutus-small-container">
    <div class="index-bigtext">мы постоянно развиваемся</div>
    <span class="index-smallertext">
        <p>В этом году мы открыли четыре новые локации (в целом количество наших магазинов достигло 20!).</p>
        <p>Все наши магазины имеют яркое оформление витрин, оснащены современным оборудованием. Благодаря удобной навигации по отделам, вы без труда найдете то, что нужно именно вашему питомцу.</p>
        <p>Мы также постоянно расширяем возможности нашей службы доставки, делая наш сервис более удобным и доступным.</p>
    </span>
</div>
{%endblock%}