{%extends 'base.html'%}
{%load static%}

{%block title_name%}
    Зоомагазин "Хвосты и лапы" - главная
{%endblock%}
{%block content%}
    <div class="index-small-container">
        <div class="index-bigtext">Мы доставляем</div>
        <div class="index-smallertext">...в наши магазины рядом с Вами</div>
        <div class="index-smallertext">...курьером по Москве и Московской области</div>
        <div class="index-smallertext">...бесплатно при заказе от 5000 рублей!</div>
    </div>
{%endblock%}
