
{%extends 'base.html'%}
{%load static%}
{%block link_style%}
<link rel="stylesheet" href="{% static 'style\profile.css' %}" />
<link rel="stylesheet" href="{% static 'style\style.css' %}" />
{%endblock%}
{%block title_name%}
    Зоомагазин "Хвосты и лапы" - профиль
{%endblock%}
{%block content%}
    <div class="profile-container">
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            {{form.as_p}}
            <button type='submit' class='profile-button'>Сохранить измененные данные</button>
        </form>
    </div>
{%endblock%}
