<footer>
    <div class="line-menu-footer">
        <div class="footer-menu-container">
            <p class="footer-bigtext">компания</p>
            <span class="index-smallertext">
                <p>О нас</p>
                <p>Вакансии</p>
                <p>Магазины</p>
            </span>
        </div>
        <div class="footer-menu-container">
            <p class="footer-bigtext">соцсети</p>
        </div>
        <div class="footer-menu-container">
            <p class="footer-bigtext">покупателям</p>
            <span class="index-smallertext">
                <p>как покупать</p>
                <p>доставка и оплата</p>
                <p>политика возврата заказов</p>
            </span>
        </div>
    </div>
</footer>