<header>
    <div class="container-new">
        <div class="line-menu-header">
            <div class="image-box">
               <!--вставить картинку-->
            </div>
            <div class="header-bigtext">"Хвосты и лапы"</div>
        </div>
        <div class="line-menu-header-text">
            <span class="header-main-text">
                <a href = '/' class="header-main-text-margin">Главная</a>
                <a href='/aboutus.html' class="header-main-text-margin">О нас</a>
                <a href='/categories.html' class="header-main-text-margin">Продукция</a>
                <a href='/profile.html' class="header-main-text-margin">Профиль</a>
                <a href='/shopcart.html' class="header-main-text-margin">Корзина</a>
            </span>
        </div>          
    </div>   
</header>