.category-bigtext{
    color: #000000;
    font-family: 'Tuffy', sans-serif;
    font-style: bold;
    font-size: 23px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}

.allcategories-container{
    display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  max-width: 50%;
  margin: auto;
}

.category-box{
    width: 30%;
    border: solid;
    border-color: rgb(61, 144, 116);
    border-radius: 25px;
    margin-right: 2%;
    margin-bottom: 5%;
}

.allproducts-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    max-width: 90%;
    margin-bottom: 5%;
}

.product-box{
    width: 15%;
    border: solid;
    border-color: rgba(18, 44, 35, 0.508);
    margin-right: 5%;
}

.product-img-container{
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 30%;
    margin-right: 30%;
    padding-top: 10%;   
}

.category-text{
    color: #000000;
    font-family: 'Tuffy', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}

.product-text{
    color: #000000;
    font-family: 'Tuffy', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

@media  (max-width: 990px){

    .category-box{
        width: 30%;
        border: solid;
        border-color: rgb(61, 144, 116);
        border-radius: 10px;
        margin-right: 2%;
        margin-bottom: 5%;
    }

    .category-text{
        color: #000000;
        font-family: 'Tuffy', sans-serif;
        font-style: normal;
        font-size: 25px;
        font-weight: 500;
        line-height: 27px;
        text-align: center;
    }

    .allcategories-container {
        display: flex;
        flex-wrap: wrap;
        min-width: 50%;
        max-width: 75%;
        margin: auto;
    }

    .product-box{
        width: 35%;
        border: solid;
        border-color: rgba(18, 44, 35, 0.508);
        margin-right: 5%;
    }

    .product-text{
        color: #000000;
        font-family: 'Tuffy', sans-serif;
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }

    .allproducts-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin-bottom: 5%;
        margin-left: -30%;
    }
}