.shopcart-bigtext{
    color: #000000;
    font-family: 'Tuffy', sans-serif;
    font-style: bold;
    font-size: 23px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-left: 5%;
}

.shopcart-container{
    min-width: 90%;
    margin: auto;
    min-height: 300px;
    background-color: #3333332e;
}

